<!DOCTYPE html>
<html>
  <head>
    <title>タイマー</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>タイマー</h1>
    <p id="timer">00:00:00</p>
    <button id="start">スタート</button>
    <button id="stop">ストップ</button>
    <button id="reset">リセット</button>
    <%= javascript_pack_tag 'timers/index' %>
  </body>
</html>