<!DOCTYPE html>
<html>
  <head>
    <title>タイマー</title>
  </head>
  <body>
    <h1>タイマー</h1>
    <p id="timer">00:00:00</p>
    <button id="startTimer" onclick="startTimer()">スタート</button>
    <button id="stopTimer" onclick="stopTimer()">ストップ</button>
    <button id="resetTimer" onclick="resetTimer()">リセット</button>
    <button id="saveTimer" onclick="onClickPost()">登録</button>
    
    <div id="user-info" data-user-id="ユーザーのID"></div>
    <div id="beat-info" data-beat-id="ビートのID"></div>

    <script src="app/javascript/stopwatches/index.js"></script>
    <script>
      console.log("hello")
        const url = "https://jsonplaceholder.typicode.com/posts"
        const getPosts = async () => {
          const res = await fetch(url)
          const data = await res.json()
          await console.log(data)
      }
    </script>
  </body>
</html>

<% content_for :js do %>
   <%= javascript_import_module_tag "stopwatches/index" %>
 <% end %>